@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        button: components.button,
        inputText: components.inputText,
        fieldset: components.fieldset,
        h1: components.h1
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "$className;format="decap"$.title"))) {


    @formHelper(action = $className$Controller.onSubmit()) {

        @errorSummary(form.errors)

        @fieldset("$className;format="decap"$.heading") {
            @inputText(
                form,
                id = "$field1Name$",
                name = "$field1Name$",
                label = "$className;format="decap"$.$field1Name$",
                isPageHeading = false,
                classes = Some("govuk-!-width-two-thirds")
            )

            @inputText(
                form,
                id = "$field2Name$",
                name = "$field2Name$",
                label = "$className;format="decap"$.$field2Name$",
                isPageHeading = false,
                classes = Some("govuk-!-width-two-thirds")
            )
        }

        @button("site.saveAndContinue")
    }
}
