$govuk-assets-path: "/job-support-scheme-calculator/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/job-support-scheme-calculator/assets/lib/hmrc-frontend/hmrc/";
@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";


@import "timeout-dialog";
@import "language-selection";
@import '_checkAnswers';

@import "shame";

.govuk-panel {
  padding: 30px 30px 15px;
}
.govuk-panel--confirmation {
  h1 {
    font-weight: bold;
    font-size: 27px ;
    font-size: 1.6875rem ;
    line-height: 1.11111 ;
    margin-top: 0
  }
}
.govuk-panel__title {
  font-size: 19px;
  line-height: 1.09;
}

.grant-heading {
  clear: both;
  display: table;
  margin-top: 0.275em;
  padding-top: 8px;
  table-layout: fixed;
  width: 100%;
}
.grant-heading .govuk-panel__title {
  display: table-header-group;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.04167;
}
.grant-heading p {
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  /* styles go here */
  .govuk-panel {
    text-align: left;
    padding:0;
    margin: 0;
  }
  .govuk-panel--confirmation {
    color: black;
    background: transparent;
    h1 {
      font-weight: bold;
    }
  }
  .govuk-panel__title {
    font-size: 19px;
    line-height: 1.09;
  }
  .grant-heading {
    clear: both;
    display: block;
    margin-top: 0.275em;
    padding-top: 8px;
    table-layout: fixed;
    width: 100%;
  }
  .grant-heading p {
    color: black;
    font-size: 19px;
    font-size: 1.1875rem ;
    line-height: 1.01em;
    margin:0;
    padding: 0 0 0.5em 0;
  }
  .grant-heading .govuk-panel__title {
    position: relative;
    font-size: 24px ;
    font-size: 1.5rem ;
    line-height: 1em;
    margin:0;
    padding: 0;
  }
  .govuk-phase-banner, .lang{
      display: none;
    }
}